USE [Crud_teste]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 28/05/2021 22:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CLI_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLI_NOME] [varchar](50) NOT NULL,
	[CLI_DATANASCIMENTO] [date] NOT NULL,
	[CLI_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
